@tailwind base;
@tailwind components;
@tailwind utilities;


 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
                *{
                    margin: 0px;
                    padding: 0px;
                    box-sizing: border-box;
                    font-family: 'Poppins', sans-serif;

                }
                #container{
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    justify-content: center;
                    align-items: center;

                }

                .header{
                    padding:8px 2px;
                    width:95%;
                    border:2px solid #C9C9C9;
                    display:flex;
                    border-radius: 50px;
                    background-color: white;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    position: fixed;
                    top:20px;

                }
                .header img{
                    width:50px;
                    margin-left: 8px;
                }
                .header img:last-child{
                    width: 150px;
                    flex:2;

                }

                .header button{
                    font-size: 12px;
                    padding: 12px 24px;
                    border-radius: 50px;
                    margin-right:20px
                }
                #banner{
                    width: 100%;
                    /*background-image: url("../../");*/
                    height:60vh;
                    background-size: cover;
                    background-repeat: no-repeat;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: flex-end;
                    padding-left: 10%;
                    padding-right: 10%;
                    padding-bottom: 24px;
                }

                #banner div{
                    display: flex;
                    flex-direction: row;
                    color: white;
                    align-items: center;
                }

                button{
                    font-size: 20px;
                    color: white;
                    background-color: black;
                    padding: 12px 32px;
                    margin-left: 24px;
                    border-radius: 15px;
                    border: none;
                }

                .common{
                    padding:28px;
                    padding-left: 10%;
                    padding-right: 10%;
                }
                .about div{
                    display: flex;
                    flex-direction: row;
                    margin:16px 0px;
                    flex: 1;
                }
                .map{
                    display: flex;
                    flex-direction: column;
                    background-color: #F0EEFF;
                }
                .map div{
                    display: flex;
                    flex-direction: column;
                }
                #map_container{
                    display: flex;
                    flex-direction: row;
                    width: 80%;
                    margin-top: 12px;
                    justify-content: space-between;
                }
                .chart p{
                    border-radius: 15px;
                    padding: 12px 54px;
                    background-color: #F0EEFF;
                    margin-bottom: 20px;
                    text-align: start;
                }
                .organisers{
                    display: flex;
                    flex-direction: column;
                    background-color: #F0EEFF;
                    padding-bottom: 60px;
                }
                #footer{
                    padding: 32px;
                    text-align: center;
                    background-color: #6C63FF;
                    color: white;
                }
